.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background: -webkit-linear-gradient(
    16deg,
    rgba(34, 155, 23, 0.4),
    rgba(245, 52, 52, 0.4)
  );
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px 15px;
  transition: width 0.3s ease;
  overflow: hidden;
  z-index: 1000;
  width: 200px;
  position: relative;
}

.sidebar.closed {
  width: 75px;
  position: relative;
}

.sidebar .menu {
  cursor: pointer;
  width: 22px;
  margin-left: 5px;
}

.sidebar .options {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.sidebar .bottom {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 40px;
  white-space: nowrap;
  transition: background-color 0.2s;
  justify-content: left;
}

.sidebar.closed .bottom {
  justify-content: center;
}

.sidebar .bottom:hover {
  background-color: #e0e0e0;
}

.sidebar img {
  width: 22px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal-content {
  background-color: white;
  padding: 2rem;
  border-radius: 12px;
  max-width: 500px;
  width: 90%;
  position: relative;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.modal-content h2 {
  margin-top: 0;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 14px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Responsividade opcional */
@media (max-width: 600px) {
  .sidebar {
    display: none;
  }
}
